:root {
  --purple-color: rgba(174, 122, 255, 1);
  --hover-color: rgba(22, 22, 22, 1);
  --main-body-color: #faf4f0;
}

.grid3::-webkit-scrollbar {
  width: 0;
}

.chat-box::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar-div {
  height: calc(100vh - 40px);
  width: 50vw;
  background-color: rgba(0, 0, 0, 1);
  padding: 20px;
}

.content-title {
  font-size: 0.7vw;
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-logo {
  height: 7%;
}

.sidebar-content {
  height: 80%;
  font-size: 1vw;
}

.sidebar-profile {
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-profile-element {
  display: flex;
  justify-content: center;
}

.sidebar-profile-element:hover {
  background-color: var(--hover-color);
}

.sidebar-profile-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  gap: 10px;
}

.sidebar-profile-content > p {
  color: white;
  font-size: 0.75vw;
  font-weight: bold;
}

.sidebar-profile-more {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
}

.element:hover {
  background-color: var(--hover-color);
}

.purple-element {
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  background-color: rgba(22, 22, 22, 1);
}

.element-content {
  font-size: 0.75vw;
  width: 92%;
  display: flex;
  gap: 10px;
  font-weight: bold;
}

#purple {
  color: var(--purple-color);
}

.element-content > p {
  color: white;
}

.element-number-purple {
  width: 8%;
  height: 1vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-color);
}

.element-number-green {
  width: 8%;
  height: 1vw;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(152, 233, 171, 1);
}

.team-members {
  margin-top: 50px;
}

.see-more-section {
  color: white;
  font-size: 0.7vw;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.main-div {
  flex: 1;
  background-color: #faf4f0;
}

nav {
  height: 9vh;
  display: flex;
  padding: 0 80px 0 80px;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 2px solid rgb(92, 92, 92);
}

.navbar-text {
  width: 50%;
  font-size: 3vh;
  font-weight: 2000;
  display: flex;
  align-items: center;
}

.navbar-icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.apps {
  display: flex;
  gap: 4px;
  font-size: 12px;
  font-weight: 700;
}

.navbar-button {
  font-size: 0.8vw;
  background-color: var(--purple-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 4vh;
  width: 6.8vw;
  border: 1.5px solid black;
}

main {
  height: calc(100% - 23.5vh);
  display: grid;
  grid-template-columns: 20vw 50vw;
  grid-template-rows: 8vh 69vh;
  border: 0px solid black;
  border-radius: 5px;
  margin: 3vh 6vw 3vh 6vw;
  background-color: rgb(255, 255, 255);
}

.grid1 {
  border: 1px solid black;
  border-radius: 5px 0 0 0;
  display: flex;
  padding: 0 20px 0 20px;
}

.grid1-button-div {
  width: 60%;
  display: flex;
  align-items: center;
}

.grid1-button-div > p {
  font-size: 12px;
  font-weight: bold;
}

.grid1-icons-div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.grid2 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 5px 0 0;
  padding: 0 2vw 0 2vw;
  display: flex;
}

.go-back {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-person-name-logo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9vw;
  gap: 5px;
}

.share-more-option {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.grid3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 0 5px;
  display: grid;
  grid-template-rows: repeat(7, 100px);
  overflow: auto;
}

.grid3-element {
  border-bottom: 1.5px solid black;
  padding: 12px;
}

.grid3-element:hover {
  margin-right: 3px;
  box-shadow: 5px 5px;
}

.selected-grid {
  margin-right: 3px;
  box-shadow: 5px 5px;
}

.last-element {
  border-bottom: 1.5px solid black;
  padding: 12px;
}

.last-element:hover {
  margin-right: 3px;
  margin-bottom: 3px;
  box-shadow: 5px 5px;
}

.person-name-time {
  display: flex;
  width: 100%;
}

.name {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.time {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.person-reference {
  margin-top: 5px;
  font-size: 0.8vw;
  font-weight: 400;
  text-align: center;
  text-align: left;
}

#person-name {
  font-size: 0.8vw;
  font-weight: 500;
  color: rgba(95, 100, 109, 1);
  margin-top: 0;
}

.person-chat {
  font-size: 0.8vw;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.grid3-element-1 {
  display: flex;
  gap: 9px;
}

.grid3-element-img {
  align-items: center;
}

.grid3-element-texts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid4 {
  border: 1px solid black;
  border-radius: 0 0 5px 0;
  width: 100%;
}

.no-of-messages {
  height: 5.5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.no-of-messages > p {
  background-color: black;
  color: white;
  padding: 7px;
  font-size: 0.7vw;
}

.chat-box {
  height: calc(100% - 16.5vh);
  overflow: auto;
}

.chat1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.chat1-time-name-text-img {
  display: flex;
}

.chat1-time-name-text {
  display: flex;
  flex-direction: column;
}

.chat1-time-name {
  display: flex;
  gap: 0.5vw;
  font-size: 0.8vw;
  height: 4vh;
  justify-content: flex-end;
}

.chat1-name {
  font-weight: bold;
}

.chat1-text {
  background-color: var(--purple-color);
  padding: 1vh 1vw 1vh 1vw;
  font-size: 0.8vw;
  clip-path: polygon(89.5% 0%, 100% 34%, 100% 100%, 0% 100%, 0% 0%);
  border-radius: 2px;
}

.chat1-img {
  height: 4vh;
  width: 3.5vw;
  margin-top: 0.5vw;
}

.chat2-logo-name-time-text {
  display: flex;
  gap: 0.5vw;
}

.chat2-logo {
  margin-top: 0.8vw;
}

.chat2-name-time-text {
  display: flex;
  flex-direction: column;
}

.chat2-name-time {
  display: flex;
  gap: 0.5vw;
  height: 2vh;
  font-size: 0.8vw;
}

.chat2-name {
  font-weight: bold;
}

.chat2-text > p {
  background-color: rgb(249, 244, 241);
  padding: 1vh 1vw 1vh 1vw;
  clip-path: polygon(6.3% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 28.3%);
  font-size: 0.8vw;
  margin-bottom: 0.9vh;
}

.chat2-img {
  display: flex;
  gap: 8px;
  height: 9.2vh;
  width: 20vw;
}

.design-layout-img {
  border: 1px solid black;
}

.chat3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.chat3-time-name-text-img {
  display: flex;
}

.chat3-time-name-text {
  display: flex;
  flex-direction: column;
}

.chat3-time-name {
  display: flex;
  gap: 0.5vw;
  font-size: 0.8vw;
  height: 4vh;
  justify-content: flex-end;
}

.chat3-name {
  font-weight: bold;
}
.chat3-text {
  background-color: var(--purple-color);
  padding: 1vh 1vw 1vh 1vw;
  font-size: 0.8vw;
  clip-path: polygon(93.8% 0%, 100% 34%, 100% 100%, 0% 100%, 0% 0%);
  border-radius: 2px;
}

.chat3-img {
  height: 4vh;
  width: 3.5vw;
}

.chat4 {
  width: 100%;
}

.chat5 {
  width: 100%;
}

.chat5-text {
  display: flex;
  justify-content: center;
}

.chat5-text > p {
  background-color: rgb(249, 244, 241);
  padding: 1vh 1vw 1vh 1vw;
  clip-path: polygon(17% 0%, 100% 0%, 100% 100%, 0% 100%, 0.7% 40.3%);
  font-size: 1vw;
  margin-bottom: 0.9vh;
}

.text-box {
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.text-bar {
  width: 40vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  border: 1.8px solid black;
  padding: 0 2vw 0 2vw;
  border-radius: 2px;
  box-shadow: 5px 5px;
}

.logo-searchbar {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.person-logo {
  height: 34px;
  width: 34px;
}

.input-tag {
  border: none;
  background-color: transparent;
  width: 620px;
  height: 66px;
  color: black;
}

.input-tag::placeholder {
  color: black;
  font-weight: 530;
  font-size: 0.8vw;
}

.textbar-options {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

footer {
  height: 8vh;
  display: flex;
  gap: 15px;
  align-items: flex-end;
  padding: 0 5vw 0 6vw;
}

.footer-articles {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 50%;
  font-size: 0.8vw;
  font-weight: bold;
}

.footer-english {
  display: flex;
  gap: 5px;
  align-items: center;
}

.switch-dark-light {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
